@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

@layer components {
  .active-cover {
    @apply outline outline-2 outline-cyan-500 outline-offset-2;
  }

  .current {
    @apply relative !important;
    color: rgb(224, 226, 230) !important;
  }

  .current::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full z-30 rounded-md !important;
    background-color: rgb(224, 226, 230) !important;
  }

  .drag-item {
    @apply flex flex-col mb-1.5 rounded-md bg-white shadow-sm;
  }

  .animate-add-list-forward {
    animation-name: addList;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
  }

  .animate-add-list-backward {
    animation-name: addList;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  @keyframes addList {
    from {
      opacity: 0;
      height: 70px;
    }

    to {
      opacity: 1;
      height: 100px;
    }
  }
}
